body{
    background: rgb(1, 17, 18);
}
.hdr{
   
    display: flex;
    justify-content: space-between;
}
body h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name{
    font-size: 50px;
    color: azure;
    text-align: left;
}
h3{
    color: rgb(61, 62, 61);
    text-align: left;
}
.ph{
    margin: 10px 100px;
    width: 150px;
    border-radius: 100%;
    border: 5px solid rgb(229, 255, 0) ;
}
.profile{ 
    position: 50;
    height: 1000px;
    width: 1200px;
}
.logo{
    width: 40px;
    border-radius:50% ;
    border:2px solid yellow ;
}

