body{
    background-color: aqua;
}

.logo{
    width: 40px;
    border-radius:50% ;
    border:2px solid yellow ;
}
.hdr{
    /* display: flex;
    justify-content:end;
 */
    display: flex;
    justify-content: space-between;
}
.skll{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 33px;
}